@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Kanit", sans-serif;
}

body {
  background-color: #051d42;
}

.main-container {
  background-color: #FFF;
  margin: 20px auto;
  border: 4px solid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 1900px;
  padding: 10px;
}

.main-container .head-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0 20px 20px 0;
  background-color: #275058;
  padding: 14px 0 14px 0;
}

.main-container .head-menu span {
  font-size: 22px;
  color: white;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0 0 10px;
}

.main-container .head-menu label.labelHead {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #275058;
  margin: 0 10px 0 0;
  color: white;
}

.main-container .head-board {
  border: 1px solid red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 20px;
}

.main-container .head-board span {
  font-size: 22px;
  color: red;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.main-container .head-board label.labelHead {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #275058;
  margin: 0 10px 0 0;
  color: white;
}

.main-container .head-board div {
  background-color: #051d42;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0 0 0 10px;
}

.main-container .App-backend {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10% auto;
  width: 1450px;
  padding: 20px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-container .App-backend form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 550px;
  padding: 20px;
  background-color: #b1dfbb;
}

.main-container .App-backend form div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 10px;
}

.main-container .App-backend form div label {
  -webkit-box-flex: 0.4;
      -ms-flex: 0.4;
          flex: 0.4;
  padding: 2px;
  font-size: 18px;
}

.main-container .App-backend form div input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 2px;
  font-size: 18px;
}

.main-container .App-backend form div span {
  -webkit-box-flex: 0.2;
      -ms-flex: 0.2;
          flex: 0.2;
}

.main-container .App-backend form div button {
  width: 150px;
  font-size: 22px;
  margin: 10px auto;
}

.main-container .App-backend form div.headLogin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-container .App-backend form div.headLogin label {
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0;
  font-size: 22px;
  font-weight: bold;
}

.main-container .font-page {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-container .font-page ul.main-menu {
  border: 1px solid #ccc;
  -webkit-box-flex: 0.3;
      -ms-flex: 0.3;
          flex: 0.3;
  list-style: none;
  padding: 0;
  margin: 0;
}

.main-container .font-page ul.main-menu a {
  color: #fff;
  background-color: #198754;
  border: 1px solid #d9e2de;
  text-decoration: none;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-container .font-page .article {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
}

.main-container .config-room {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid green;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-container .config-room .menu-config-room {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.main-container .config-room .menu-config-room div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.main-container a.link {
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
}

.box-add-room {
  border: 1px solid #9da4af;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px;
  padding: 20px;
  background-color: #dadde2;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 850px;
}

.box-add-room div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-top: 15px;
}

.box-add-room div span.comment-input {
  -webkit-box-flex: 0.5;
      -ms-flex: 0.5;
          flex: 0.5;
}

.box-add-room input {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  text-align: center;
  font-size: 18px;
  color: #0d6efd;
}

select {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  font-size: 18px;
  padding: 4px;
  text-align: center;
  color: darkblue;
}

a:link {
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
  color: #fff;
  background-color: #0d6efd;
  border: 1px solid #d9e2de;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
}

a:visited {
  color: #fff;
}

label {
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* justify-content: center; */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.article-config-room {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.box-list-room {
  border: 1px solid #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 10px;
  width: 850px;
}

.box-list-room .list-room-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-bottom: 1px solid #ccc;
  background-color: #0dcaf0;
  font-size: 18px;
  font-weight: bold;
  padding: 4px;
}

.box-list-room .list-room-head div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-left: 1px solid #ccc;
  color: #fff;
  text-align: center;
}

.box-list-room .list-room {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-bottom: 1px solid #ccc;
  padding: 4px;
  cursor: pointer;
}

.box-list-room .list-room div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-left: 1px solid #ccc;
  text-align: center;
}

.box-list-room .list-room:hover {
  background-color: #a4e9f7;
}

.box-list-room .list-room:nth-child(odd) {
  background-color: #eee;
}

.box-list-room .list-room:nth-child(odd):hover {
  background-color: #a4e9f7;
}

.box-table-head {
  border: 1px solid #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.box-table {
  border: 1px solid #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.box-table .tableHead {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.box-table .tableHead .tablelist {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.box-table .tableRoom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #ccc;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0 0 2px 0;
}

.box-table .tableRoom .headlistroom {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  background-color: purple;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 0 0 0 4px;
}

.box-table .tableRoom .boxlistroom {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-left: 1px solid #ccc;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
  background-color: #e9ecef;
}

.box-table .tableRoom .boxlistroomActive {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-left: 1px solid #ccc;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f77826;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.box-table .tableRoom .boxlistrommLocked {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-left: 1px solid #ccc;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: yellow;
  width: 100%;
}

.box-table .tableRoom .boxlistrommLocked span {
  position: absolute;
  font-size: 12px;
  margin: 0 0 0 30px;
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
}

.box-book {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 600px;
  margin: 20px auto;
  padding: 30px;
  background-color: #0dcaf0;
}

.box-book .room-title {
  font-size: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.box-book .table-book {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 0px;
}

.box-book .table-book label {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.box-book .table-book input {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.box-book .table-book button {
  color: #fff;
  background-color: #198754;
  border: 1px solid #d9e2de;
  text-decoration: none;
  padding: 4px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.DetailLocked {
  background-color: #084298;
  border-left: 1px solid white;
  color: white;
  width: 900px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 20px;
  padding: 6px 10px;
}

.DetailLocked div:nth-child(1) {
  border: 0;
  -webkit-box-flex: 0.5;
      -ms-flex: 0.5;
          flex: 0.5;
}

.DetailLocked div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-left: 1px solid white;
  text-align: center;
}

.DetailLocked div:last-child {
  -webkit-box-flex: 0.5;
      -ms-flex: 0.5;
          flex: 0.5;
}

.DetailLockedList {
  background-color: #0d6efd;
  color: white;
  width: 900px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 20px;
  padding: 6px 10px;
}

.DetailLockedList div:nth-child(1) {
  border: 0;
  -webkit-box-flex: 0.5;
      -ms-flex: 0.5;
          flex: 0.5;
}

.DetailLockedList div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-left: 1px solid white;
  padding: 0 0 0 5px;
}

.DetailLockedList div:last-child {
  -webkit-box-flex: 0.5;
      -ms-flex: 0.5;
          flex: 0.5;
  color: red;
  text-align: center;
  background-color: #ffc107;
}

.boxLog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 10px 0 0 0;
}

.boxLog .log {
  margin: 0 0 0 10px;
  padding: 2px 4px;
  background-color: #CCC;
  color: white;
}
/*# sourceMappingURL=style.css.map */